{% extends 'base.html' %}

{% block title %}List{% endblock %}

<html> 
<body>
    {% block content %}
    <h1>出退勤リスト</h1>

    <form method="GET" action="{% url 'list' %}">

        名前：<br>
        <div>
            <input type="radio" name='name' value="馬場">
            <label>馬場</label>
    
            
            <input type="radio" name='name' value="工藤">
            <label>工藤</label>
    
            
            <input type="radio" name='name' value="石川">
            <label>石川</label>
    
            
            <input type="radio" name='name' value="森田">
            <label>森田</label>
           </div>

           <br>

        
        <br>


        期間：<br>
        <div>
        <input type="radio"  name='hiduke' value="当日">
        <label >当日</label>
        <input type="radio"  name='hiduke' value="一週間">
        <label >一週間</label>
        </div>

        <br>
        
        <button type="submit">検索</button>
        <input type="reset" value="ﾘｾｯﾄする">

      </form>
      <br>


    <table>
        <thead>
            <tr>
                <th scope="col">名前</th>
                <th scope="col">日付</th>
                <th scope="col">出勤時刻</th>
                <th scope="col">退勤時刻</th>
            </tr>
        </thead>
        <tbody>
           {% for list in List %}
              <td>{{ list.name }}</td>
              <td>{{ list.date|date:"m/d"}}</td>  
              <td>{{ list.time|date:"H:i" }}</td>  
              <td>{{ list.leavetime|date:"H:i"}}</td> 

              
              <td><a href="{% url 'delete' list.id %}">削除</a></td>
              <td><a href="{% url 'update' list.id %}">編集</a></td>
            </tr>
           {% endfor %}
      
        </tbody>
    </table>   


    {% endblock %}

</body>

</html>