{% extends 'base.html' %}

{% block title %}List{% endblock %}

<html> 
<body>
    {% block content %}
    <h1>出退勤リスト</h1>
    <form method="GET" action="{% url 'list' %}">
        <label>名前</label>
        <input type="text" name="keyword1">
        <label>出勤/退勤</label>
        <input type="text" name="keyword2">
        
        <input type="checkbox"  name='hiduke' value="当日">
        <label >当日</label>
        <input type="checkbox"  name='hiduke' value="一週間前">
        <label >一週間前</label>

        <button type="submit">検索</button>

      </form>
    <table>
        <thead>
            <tr>
                <th scope="col">名前</th>
                <th scope="col">出勤/退勤</th>
                <th scope="col">日付</th>
                <th scope="col">時刻</th>
            </tr>
        </thead>
        <tbody>
           {% for list in List %}
              <td>{{ list.name }}</td>
              <td>{{ list.in_out }}</td>
              <td>{{ list.date|date:"m-d"}}</td>  
              <td>{{ list.time|date:"H:i" }}</td>                       
            </tr>
           {% endfor %}
      
        </tbody>
    </table>   


    {% endblock %}

</body>

</html>