{% extends 'base.html' %}

{% block title %}Form{% endblock %}

<html> 
<body>
    {% block content %}
    <h1>出退勤</h1>


    <script>
        function twoDigit(num) {
          let ret;
          if( num < 10 )
            ret = "0" + num;
          else
            ret = num;
          return ret;
        }
        function showClock() {
          let nowTime = new Date();
          let nowHour = twoDigit( nowTime.getHours() );
          let nowMin  = twoDigit( nowTime.getMinutes() );
          let nowSec  = twoDigit( nowTime.getSeconds() );
          let msg = "現在時刻：" + nowHour + ":" + nowMin + ":" + nowSec;
          document.getElementById("realtime").innerHTML = msg;
        }
        setInterval('showClock()',1000);
    </script>
    <p id="realtime"></p>


    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}

       名前：<br>
       <div>
        <input type="radio" name='name' value="馬場">
        <label>馬場</label>

        
        <input type="radio" name='name' value="工藤">
        <label>工藤</lafbel>

        
        <input type="radio" name='name' value="石川">
        <label>石川</label>

        
        <input type="radio" name='name' value="森田">
        <label>森田</label>
       </div>

       <br>

       出勤/退勤：<br>
       <div>
        <input type="radio" name='in_out' value="出勤">
        <label>出勤</label>
        <input type="radio" name='in_out' value="退勤">
        <label>退勤</label>
       </div>

       <br>
        <button type="submit">打刻</button>
        <input type="reset" value="ﾘｾｯﾄする">
    </form>



    {% endblock %}

</body>

</html>