{% extends 'base.html' %}

{% block title %}Form{% endblock %}

<html> 
<body>
    {% block content %}
    <h1>出退勤</h1>


    <script>
        function twoDigit(num) {
          let ret;
          if( num < 10 )
            ret = "0" + num;
          else
            ret = num;
          return ret;
        }
        function showClock() {
          let nowTime = new Date();
          let nowHour = twoDigit( nowTime.getHours() );
          let nowMin  = twoDigit( nowTime.getMinutes() );
          let nowSec  = twoDigit( nowTime.getSeconds() );
          let msg = "現在時刻：" + nowHour + ":" + nowMin + ":" + nowSec;
          document.getElementById("realtime").innerHTML = msg;
        }
        setInterval('showClock()',1000);
    </script>
    <p id="realtime"></p>


    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="checkbox" name='in_out' value="出勤">
        <label for="1">出勤</label>
        <input type="checkbox"  name='in_out' value="退勤">
        <label for="2">退勤</label>
        <button type="submit">送信</button>
    </form>



    {% endblock %}

</body>

</html>